@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    scroll-behavior: smooth;
}

body {
    background-color: #050505;
}

.container {
    width: 95%;
    max-width: 1440px;
    margin: 1rem auto;
     /* border: 2px  solid red; */
}

.container header {
    width: 95%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    /* gap: 10rem;  */
    align-items: center;
}

header {
    position: relative;
}

header .logo img {
    width: 150px;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
}

header nav ul li a, .read-more{
    text-decoration: none;
    color: #fafafa;
    transition: all 200ms ease-in-out;
    text-shadow: 0px 1px 10px #1294c38e;
}

header nav ul li:hover a, .read-more:hover {
    color: #90c3d5;
    text-decoration: underline;
    text-shadow: 0 4px 10px #97d8c9;
    font-weight: 600;
    letter-spacing: 1px;
}

header .nav-cal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

header .nav-cal a {
    text-decoration: none;
    color: #fafafa;
    transition: all 300ms ease-in-out;
}

header .nav-cal a:hover:not(button a) {
    color: #90c3d5;
    text-decoration: underline;
    text-shadow: 0 4px 10px #97d8c9;
    font-weight: 600;
    letter-spacing: 1px;
}

header .nav-cal button {
    border: 3px solid #97d8c97d;
    border-radius: 10px;
    background: #0E1F25;
    color: #fafafa;
    padding: .5rem 1.5rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

header .nav-cal button:hover {
    background: #97d8c9;
    color: #0c1b20;
    scale: 1.1;
    box-shadow: 0 4px 10px #97d8c9;
}

header .nav-cal button:hover a {
    color: #0c1b20;
}

header .line {
    width: 100%;
    height: 2px;
    background: #4291AE;
    box-shadow: 0px -1px 20px 2px #1295C3;
    position: absolute;
    opacity: .5;
    border-radius: 20px;
    bottom: 0;
}

/* ///////////////////////////////////////////////////////////////////////////// */

main {
    margin: auto;
    padding: 2rem;
    color: #fafafa;
}

.hero .hero-head {
    display: grid;
    place-items: center;
    margin-block: 5rem;
}

.hero .hero-head h1 {
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: -0.8px;
    line-height: 1.5em;
    text-shadow: 0px 1px 10px #1294c38e;
}

.hero .hero-head h1 span {
    font-style: italic;
    font-weight: 300;
    color: #97d8c9;
    background-clip: unset;
    transition: all 300ms ease-in-out;
}

.hero .hero-head h1:hover span {
    text-shadow: 0 4px 10px #97d8c9;
    /* font-weight: 600; */
    /* scale: 1.2; */
    letter-spacing: 5px;
}

.hero .hero-head p {
    font-size: 20px;
    color: #717e7ec0;
    width: 600px;
    text-align: center;
    text-shadow: 0px 1px 10px #1294c38e;
}

.hero .hero-cal {
    display: grid;
    place-items: center;
}

.hero .hero-cal .call-to-action {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.sign-up {
    padding: .5em 2.5em;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: #0e1f25;
    font-weight: 500;
    color: #fafafa;
    border-top: 2px solid #97d8c9;
    border-inline: 2px solid #97d8c9;
    border-bottom: 5px solid #97d8c9;
    box-shadow: 0px 2px 4px #97d8c9;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.sign-up:hover {
    text-shadow: 0 4px 10px #97d8c9;
    color: #050505;
    background-color: #97d8c9;
    scale: 1.1;
    border-color: #0E1F25;
}

.read-more {
    text-decoration: none;
    display: flex;
    gap: .5rem;
    cursor: pointer;
    align-items: center;
}

.read-more svg {
    opacity: 0;
    transform: translateX(-20px);
    transition: all 400ms ease-in-out;
}

.read-more:hover svg {
    opacity: 1;
    transform: translateX(0) rotate(90deg);
    fill: #97d8c9;
    animation: arrow 2s ease-in-out .4s forwards infinite;
}

@keyframes arrow {
    0% {
        transform: translateX(0) rotate(90deg);
    }

    50% {
        transform: translateX(10px) rotate(90deg);
    }

    100% {
        transform: translateX(0px) rotate(90deg);
    }
}

.board {
    width: 80%;
    height: 500px;
    margin: 5rem auto;
    border: 3px solid #045772;
    border-radius: 10px;
    background-color: #111516;
    box-shadow: 0 0 30px 1px #1294c363;
    position: relative;
}

.board .board-box {
    width: 15%;
    height: 10%;
    margin: 10px;
    /* background-color: #777777; */
    position: absolute;
    box-shadow: 0 2px 10px #000000;
    border-radius: 5px;
    animation-iteration-count: infinite;
}

.box-1 { transform: translateX(480%) translateY(50%); background-color: #045772; animation: move8 5s ease-in-out;}
.box-2 { transform: translateX(280%) translateY(250%); background-color: #207794; animation: move1 8s ease-in-out;}
.box-3 { transform: translateX(480%) translateY(450%); background-color: #26444e; animation: move7 10s ease-in-out;}
.box-4 { transform: translateX(280%) translateY(50%); background-color: #2e9bc0; animation: move3 10s ease-in-out;}
.box-5 { transform: translateX(80%) translateY(250%); background-color: #045772; animation: move4 8s ease-in-out;}
.box-6 { transform: translateX(80%) translateY(50%); background-color: #425d66; animation: move2 5s ease-in-out;}
.box-7 { transform: translateX(80%) translateY(650%); background-color: #022531; animation: move9 8s ease-in-out;}
.box-8 { transform: translateX(280%) translateY(650%); background-color: #56ccf3; animation: move5 10s ease-in-out;}
.box-9 { transform: translateX(480%) translateY(650%); background-color: #0d98c7; animation: move6 5s ease-in-out;}

@keyframes move1 {
    0% {
        transform: translateX(280%) translateY(250%);
    }
    30% {
        transform: translateX(480%) translateY(250%);
    }
    40% {
        transform: translateX(480%) translateY(250%);
    }
    50% {
        transform: translateX(480%) translateY(250%);
    }
    60% {
        transform: translateX(480%) translateY(250%);
    }
    70% {
        transform: translateX(480%) translateY(250%);
    }
}
@keyframes move2 {
    0% {
        transform: translateX(80%) translateY(50%);
    }
    30% {
        transform: translateX(280%) translateY(250%);
    }
    40% {
        transform: translateX(280%) translateY(250%);
    }
    50% {
        transform: translateX(280%) translateY(250%);
    }
    60% {
        transform: translateX(280%) translateY(250%);
    }
    70% {
        transform: translateX(280%) translateY(250%);
    }
}
@keyframes move3 {
    0% {
        transform: translateX(280%) translateY(50%);
    }
    30% {
        transform: translateX(80%) translateY(50%);
    }
    40% {
        transform: translateX(80%) translateY(50%);
    }
    50% {
        transform: translateX(80%) translateY(50%);
    }
    60% {
        transform: translateX(80%) translateY(50%);
    }
    70% {
        transform: translateX(80%) translateY(50%);
    }
}
@keyframes move4 {
    0% {
        transform: translateX(80%) translateY(250%);
    }
    30% {
        transform: translateX(280%) translateY(50%);
    }
    40% {
        transform: translateX(280%) translateY(50%);
    }
    50% {
        transform: translateX(280%) translateY(50%);
    }
    60% {
        transform: translateX(280%) translateY(50%);
    }
    70% {
        transform: translateX(280%) translateY(50%);
    }
}
@keyframes move5 {
    0% {
        transform: translateX(280%) translateY(650%);
    }
    30% {
        transform: translateX(280%) translateY(450%);
    }
    40% {
        transform: translateX(280%) translateY(450%);
    }
    50% {
        transform: translateX(280%) translateY(450%);
    }
    60% {
        transform: translateX(280%) translateY(450%);
    }
    70% {
        transform: translateX(280%) translateY(450%);
    }
}
@keyframes move6 {
    0% {
        transform: translateX(480%) translateY(650%);
    }
    30% {
        transform: translateX(80%) translateY(250%);
    }
    40% {
        transform: translateX(80%) translateY(250%);
    }
    50% {
        transform: translateX(80%) translateY(250%);
    }
    60% {
        transform: translateX(80%) translateY(250%);
    }
    70% {
        transform: translateX(80%) translateY(250%);
    }
}
@keyframes move7 {
    0% {
        transform: translateX(480%) translateY(450%);
    }
    30% {
        transform: translateX(80%) translateY(450%);
    }
    40% {
        transform: translateX(80%) translateY(450%);
    }
    50% {
        transform: translateX(80%) translateY(450%);
    }
    60% {
        transform: translateX(80%) translateY(450%);
    }
    70% {
        transform: translateX(80%) translateY(450%);
    }
}
@keyframes move8 {
    0% {
        transform: translateX(480%) translateY(50%);
    }
    30% {
        transform: translateX(480%) translateY(450%);
    }
    40% {
        transform: translateX(480%) translateY(450%);
    }
    50% {
        transform: translateX(480%) translateY(450%);
    }
    60% {
        transform: translateX(480%) translateY(450%);
    }
    70% {
        transform: translateX(480%) translateY(450%);
    }
}
@keyframes move9 {
    0% {
        transform: translateX(80%) translateY(650%);
    }
    30% {
        transform: translateX(480%) translateY(50%);
    }
    40% {
        transform: translateX(480%) translateY(50%);
    }
    50% {
        transform: translateX(480%) translateY(50%);
    }
    60% {
        transform: translateX(480%) translateY(50%);
    }
    70% {
        transform: translateX(480%) translateY(50%);
    }
}


.board .col-line {
    width: 2px;
    height: 80%;
    position: absolute;
    background-color: #474747;
    box-shadow: 0 0 10px #1294c37e;
}

.board .row-line {
    width: 90%;
    height: 2px;
    position: absolute;
    background-color: #474747;
    box-shadow: 0 0 10px #1294c37e;
}

/* ////////////////////////////////////////////////////////////////////// */

.all-in-one {
    margin-top: 8rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.all-in-one .left-container, .all-in-one .right-container {
    width: 50%;
    padding: 4rem;
    background-color: #022531;
    /* transform: translateY(-15%); */
    border: 2px solid #0d98c7;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 1px #0d98c7;
}

.all-in-one .left-container .lcon-content h1{
    font-size: 2.5rem;
    color: #dadada;
    margin-block: 1rem;
    text-shadow: 0 4px 10px #97d8c963;
}

.all-in-one .left-container .lcon-content p {
    line-height: 1.2em;
    font-size: 20px;
    color: #79b3c7;
    /* text-shadow: 0 4px 10px #97d8c9; */
}

.lcon-content .call-to-action {
    display: flex;
    gap: 1rem;
}

.lcon-content .call-to-action a, .app a {
    text-decoration: none;
    /* color: #79b3c7; */
    color: #fafafa;
}

.lcon-content .call-to-action .sign-up:hover a, .app:hover a {
    color: #050505;
}

.app {
    margin-inline: 9rem;
    margin-top: 2rem;
    text-align: center;
}


.call-to-action button {
    font-size: 1rem;
}


.all-in-one .right-container {
    background-color: #02151b;
    display: grid;
    place-items: center;
}

.all-in-one .right-container .rcon-content {
    width: 80%;
    margin: 2rem auto 1rem;
}

.all-in-one .right-container .rcon-content img {
    width: 100%;
    border: 2px solid #29a7d1;
    border-radius: 10px;
}

.right-container img {
    width: 80%;
    border-radius: 10px;
}

footer {
    margin-top: 5rem;
    width: 100%;
    /* background-color: ; */
    border-top: 3px solid #2a6174;
    display: flex;
    justify-content: space-around;
}

footer img {
    width: 200px;
}


